*{
    font-family: tahoma;
    box-sizing: border-box;
}

#logo {
    width: 108px;
}

#title {
    padding-left: 10px;
}

#paragraph {
    text-align: justify;
    padding-left: 50px;
}
#downloadtext {
    color: rgb(66, 19, 180);
    text-align: justify;
    padding-left: 50px;
}
#commerceclasses {
    padding-left: 50px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
