<!DOCTYPE html>
<html ng-app="">

<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href='/ExcellentCoaching_Group03/SourceCode/css/style.css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <title>Faculty</title>
</head>

<body>
    <header class="header" ng-include="'/ExcellentCoaching_Group03/SourceCode/view/layout/header.html'">

    </header>
    <main>
        <div class="app-container">
            <section>
              
                <div class="faculty-card">
                    <div class="row d-flex align-items-center">
                        <div class="col-4">
                            <div align="center" class="p-3">
                                <a id="downloadtext" href="/ExcellentCoaching_Group03/SourceCode/view/Courses.html">Explore more</a>
                            </div>
                        </div>
                        <div class="col-8">
                            <h4 class="faculty-title">Faculty of Business & Economics</h4>
                            <p> Faculty of Business & Economics design the courses to prepare students for learning all the skills that get them ready to adapt the world of rapid changes in business.
                                Whatever courses you choose to study with us, you will learn how to manage small aspects in business as well as understand the broad terminologies of economis
                            </p>
                        </div>
                    </div>
                </div>
                <div class="faculty-card">
                    <div class="row d-flex align-items-center">
                        <div class="col-4">
                             <div align="center" class="p-3">
                                <a id="downloadtext" href="/ExcellentCoaching_Group03/SourceCode/view/Courses.html">Explore more</a>
                            </div>
                        </div>
                        <div class="col-8">
                            <h4 class="faculty-title">Faculty of Science & Mathematics</h4>
                            <p> Faculty of Science & Mathematics prepare courses to prepare students for being logical. Students will learn the methods to solve complex algebras, calculus and also other subjects in science.
                                The faculty will also support students on tutoring for assignments, assisting them to achieve the highest possible scores.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="faculty-card">
                    <div class="row d-flex align-items-center">
                        <div class="col-4">
                            <div align="center" class="p-3">
                                <a id="downloadtext" href="/ExcellentCoaching_Group03/SourceCode/view/Courses.html">Explore more</a>
                            </div>
                        </div>
                        <div class="col-8">
                            <h4 class="faculty-title">Faculty of Art</h4>
                            <p> Faculty of Art at Excellent Coaching guide students to learn effectively many subjects such as: music, languages, literature, painting, scupturing. 
                                We help students to explore their passion through our progressing coaching and practice methods.
                            </p>
                        </div>
                    </div>
                </div>
             
            </section>
        </div>
    </main>

    <footer class="footer" ng-include="'/ExcellentCoaching_Group03/SourceCode/view/layout/footer.html'">

    </footer>
</body>



</html>
