<!DOCTYPE html>
<html ng-app="">
<head>
  <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href='/ExcellentCoaching_Group03/SourceCode/css/style.css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <title>Language</title>
</head>

<body>
  <header class="header" ng-include="'/ExcellentCoaching_Group03/SourceCode/view/layout/header.html'">

  </header>
  <main>
    <div class="app-container">
      <h3 class="courses-name">Language</h3>
      <section>
        <table>
          <tr>
            <th>Class days</th>
            <th>Session</th>
          </tr>    
          <tr>
            <td>Monday, Wednesday, Friday</td>
            <td>Morning: 9am - 12pm <br>
                Afternoon: 2pm - 5pm
            </td>
          </tr>
          <tr>
            <td>Tuesday, Thursday, Saturday</td>
            <td>Morning: 9am - 12pm <br>
                Afternoon: 2pm - 5pm
          </td>
        </table>
      </section>
      <section>
        <table>
          <tr>
            <th>Subject name</th>
            <th>Duration</th>
            <th>Tuition fees</th>
          </tr>
          <tr>
            <td>English</td>
            <td>12 weeks</td>
            <td>$1,200</td>    
          </tr>
          <tr>
            <td>Spanish</td>
            <td>12 weeks</td>
            <td>$1,200</td>
          </tr>
          <tr>
            <td>Chinese</td>
            <td>12 weeks</td>
            <td>$1,200</td>   
          </tr>
        </table>
        </section>
      </section>
    </div>
  </main>

  <footer class="footer" ng-include="'/ExcellentCoaching_Group03/SourceCode/view/layout/footer.html'">

  </footer>
</body>



</html>
