<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href='/SourceCode/css/style.css'>
            <title>Document</title>
            
    </head>
<body>
 
<div ng-app="myApp" ng-controller="customersCtrl"> 
  <div ng-include="'/SourceCode/view/layout/header.html'"></div>
</div>
 
<script>
var app = angular.module('myApp', []);
app.controller('customersCtrl', function($scope, $http) {
    $http.get("customers.php").then(function (response) {
        $scope.names = response.data.records;
    });
});
</script>
 
<main>
    <div id="title" class="container section-title-container" ><h3 class="section-title section-title-bold"><b></b><span class="section-title-main" style="color:rgb(66, 19, 180);">Overview</span><b></b></h3></div>
    <div class="row">
                                
    <p id="paragraph">This program prepares you for skils to solve maths problems in due to growth in demand for industries and technologies. You will learn to perform from beginning level to advanced maths.</p>
    <br>
    <p><b><a id="downloadtext" href="/SourceCode/download/mathematic.pdf">Download course detail here</a></b></p>
</main>
<br>

<main>
    <div id="title" class="container section-title-container" ><h3 class="section-title section-title-bold"><b></b><span class="section-title-main" style="color:rgb(66, 19, 180);">Classes</span><b></b></h3></div>
    <div class="row">
        </div>
    <section class="container section-title-main">
        <table>
          <tr>
            <th>Class days</th>
            <th>Session</th>
          </tr>    
          <tr>
            <td>Monday, Wednesday</td>
            <td>Morning: 9am – 12pm</td>
          </tr>
          <tr>
            <td>Tuesday, Thursday</td>
            <td>Afternoon: 2pm - 5pm</td>
        </table>
    </section>
</main>
    <br>

<main>
    <div id="title" class="container section-title-container" ><h3 class="section-title section-title-bold"><b></b><span class="section-title-main" style="color:rgb(66, 19, 180);">Subjects</span><b></b></h3></div>
    <div class="row">   
    </div>
<section class="container section-title-main">
<table>
  <tr>
    <th>Subject name</th>
    <th>Duration</th>
    <th>Tuition fees</th>
  </tr>
  <tr>
    <td>Basic maths</td>
    <td>24 weeks</td>
    <td>$2,500</td>    
  </tr>
  <tr>
    <td>Essential maths</td>
    <td>24 weeks</td>
    <td>$3,000</td>
  </tr>
  <tr>
    <td>Advanced maths</td>
    <td>24 weeks</td>
    <td>$3,500</td>   
  </tr>
</table>
</section>
</main>
<footer>
 
</footer>
 
</body>
</html>