<!DOCTYPE html>
<html ng-app="">
<head ng-include="'/SourceCode/view/layout/head.html'">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <title>Mathematic</title>
</head>

<body>
  <header class="header" ng-include="'/SourceCode/view/layout/header.html'">

  </header>
  <main>
    <div class="app-container">
      <h3 class="courses-name">Mathematic</h3>
      <section>
        <table>
          <tr>
            <th>Class days</th>
            <th>Session</th>
          </tr>    
          <tr>
            <td>Monday, Wednesday, Friday</td>
            <td>Morning: 9am - 12pm <br>
                Afternoon: 2pm - 5pm
            </td>
          </tr>
          <tr>
            <td>Tuesday, Thursday, Saturday</td>
            <td>Morning: 9am - 12pm <br>
                Afternoon: 2pm - 5pm
          </td>
        </table>
      </section>
      <section>
        <table>
          <tr>
            <th>Subject name</th>
            <th>Duration</th>
            <th>Tuition fees</th>
          </tr>
          <tr>
            <td>Basic maths</td>
            <td>24 weeks</td>
            <td>$2,500</td>    
          </tr>
          <tr>
            <td>Essential maths</td>
            <td>24 weeks</td>
            <td>$3,000</td>
          </tr>
          <tr>
            <td>Advanced maths</td>
            <td>24 weeks</td>
            <td>$3,500</td>   
          </tr>
        </table>
        </section>
      </section>
    </div>
  </main>

  <footer class="footer" ng-include="'/SourceCode/view/layout/footer.html'">

  </footer>
</body>



</html>