<!DOCTYPE html>
<html ng-app="">
<head ng-include="'/view/layout/head.html'">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <title>Mathematic</title>
</head>

<body>
  <header class="header" ng-include="'/view/layout/header.html'">

  </header>
  <main>
    <div class="app-container">
      <h3 class="courses-name">Mathematic</h3>
      <section>
        <table>
          <tr>
            <th>Class days</th>
            <th>Session</th>
          </tr>    
          <tr>
            <td>Monday, Wednesday, Friday</td>
            <td>Morning: 9am – 12pm</td>
          </tr>
          <tr>
            <td>Tuesday, Thursday, Saturday</td>
            <td>Afternoon: 2pm - 5pm</td>
        </table>
      </section>
      <section>
        <table>
          <tr>
            <th>Subject name</th>
            <th>Duration</th>
            <th>Tuition fees</th>
          </tr>
          <tr>
            <td>Accounting</td>
            <td>4 weeks</td>
            <td>$500</td>    
          </tr>
          <tr>
            <td>Commercial law</td>
            <td>8 weeks</td>
            <td>$1,000</td>
          </tr>
          <tr>
            <td>Finance</td>
            <td>4 weeks</td>
            <td>$500</td>   
          </tr>
          <tr>
            <td>Economics</td>
            <td>4 weeks</td>
            <td>$500</td>   
          </tr>
          <tr>
            <td>IT in Commerce</td>
            <td>8 weeks</td>
            <td>$1,000</td>
          </tr>
          <tr>
            <td>Marketing</td>
            <td>8 weeks</td>
            <td>$1,000</td>
          </tr>
          <tr>
            <td>Cost/Buying Controller</td>
            <td>2 weeks</td>
            <td>$250</td>
          </tr>
          <tr>
            <td>Business Development</td>
            <td>2 weeks</td>
            <td>$250</td>
          </tr>
        </table>
        </section>
      </section>
    </div>
  </main>

  <footer class="footer" ng-include="'/view/layout/footer.html'">

  </footer>
</body>



</html>