<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href='/SourceCode/css/style.css'>
            <title>Document</title>
            
    </head>
<body>
 
<div ng-app="myApp" ng-controller="customersCtrl"> 
  <div ng-include="'/SourceCode/view/layout/header.html'"></div>
</div>

<script>
var app = angular.module('myApp', []);
app.controller('customersCtrl', function($scope, $http) {
    $http.get("customers.php").then(function (response) {
        $scope.names = response.data.records;
    });
});

function check(){
            var sName = document.getElementById("txtName").value;
            var reName = /^\w/;
            if(!reName.test(sName)){
                alert("Login Name cannot left blank!")
                document.getElementById("txtName").focus;
                return false;
            }
            var sMail = document.getElementById("txtMail").value;
            var reMail = /^\w+[@]\w+[.]\w+([.]\w+)?/;
            if(!reMail.test(sMail)){
                alert("Wrong Email")
                document.getElementById("txtMail").focus;
                return false;
            }
            var sPhone = document.getElementById("txtPhone").value;
            var rePhone = /^\d{8,12}$/;
            if(!rePhone.test(sPhone)){
                alert("False Phone")
                document.getElementById("txtPhone").focus;
                return false;
            }

            var sPassword =document.getElementById("txtPassword").value
            var sConfirmed = document.getElementById("txtcomfirmed").value;
            if(sPassword!==sConfirmed){
                alert("Wrong confirmed");
                return false;
         }
         var message = [];
        message.push("Your iformation has been sent successfully!");
        message.push("You have successfully Registered");
        alert(message.join("\n"));

        }
</script>
 
<main>
    <section align="center" id="khung" class="container">
        <h1>Registration Form</h1>
        <form onsubmit="return check()">
        <table >
            <tr>
                <td align="right">Username:
                    <input type="text" id="txtName" autofocus placeholder="Enter Login Name" required>
                </td>
            </tr>
            <tr>
                <td>Gender:
            <input type="radio" name="sex" checked>Male
                <input type="radio" name="sex">Female</td>
            </tr>
            <tr>
                <td align="right">Email:
                    <input type="text" id="txtMail" placeholder="Enter Email" required>
                </td>
            <tr>
                <td align="right"> Phone:
                    <input type="number" id="txtPhone" placeholder="Enter Yourphone">
                </td>    
            </tr>
            <tr>
                <td align="right">Password:
                    <input type="password" id="txtPassword" placeholder="Enter Password" required>
                </td>
            </tr>
            <tr>
                <td align="right">Confirmed Password:
                    <input type="password" id="txtcomfirmed" placeholder="Enter Password" required>
                </td>
            </tr>

            <td><input type="submit" value="Register">
            <input type="Reset" value="Reset"></td>
        </table>
    </form>
    </section>
</main>
<footer>
 
</footer>
 
</body>
</html>