<!DOCTYPE html>
<html ng-app="">

<head ng-include="'/view/layout/head.html'">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <title>Courses</title>
</head>
<body>
 <header class="header" ng-include="'/view/layout/header.html'">

</header>
<script>
function check(){
            var sName = document.getElementById("txtName").value;
            var reName = /^\w/;
            if(!reName.test(sName)){
                alert("Login Name cannot left blank!")
                document.getElementById("txtName").focus;
                return false;
            }
            var sMail = document.getElementById("txtMail").value;
            var reMail = /^\w+[@]\w+[.]\w+([.]\w+)?/;
            if(!reMail.test(sMail)){
                alert("Wrong Email")
                document.getElementById("txtMail").focus;
                return false;
            }
            var sPhone = document.getElementById("txtPhone").value;
            var rePhone = /^\d{8,12}$/;
            if(!rePhone.test(sPhone)){
                alert("False Phone")
                document.getElementById("txtPhone").focus;
                return false;
            }

         var message = [];
        message.push("Your iformation has been sent successfully!");
        message.push("You have successfully Registered");
        alert(message.join("\n"));

        }
</script>
 
<main>
    <div class="app-container">
    <section>
        <div class="row">
            <div class="col-8">
                <h1>ONLINE REGISTER</h1>
                <img src="https://www.rmit.edu.vn/content/dam/rmit/vn/en/assets-for-production/images/international-students-in-vietnam-campus/2019-international-students-in-vn-campus/international-students-laughing-cafe-02.jpg"
                    width="700" height="250" alt="">
                <p><b>Guide</b><br />Please fill in the registration information in the form below:</p>
                <ol>
                    <li>Enter complete information in the registration form</li>
                    <li>After filling in all the information, press the button &#8220;<strong>REGISTER</strong>&#8221; a confirmation message will appear</li>
                 <li>Lines marked with (<span style="color: #d83131;"><strong>*</strong></span>) is required information</li>
                </ol>
                <form onsubmit="return check()">
                    <div class="form-group">
                        <label>Username</label>
                        <input class="form-control" type="text" id="txtName" autofocus placeholder="Enter Login Name" required/>
                        <label>Gender</label> <br/>
                        <input type="radio" name="sex" checked>Male
                        <input type="radio" name="sex">Female<br/>
                        <label>Email</label>
                        <input class="form-control" type="text" id="txtMail" placeholder="Enter Email" required/>
                        <label>Phone</label>
                        <input class="form-control" type="number" id="txtPhone" placeholder="Enter Yourphone">
                        <label>Leave message</label>
                        <textarea class="w-100" name="" id="" cols="30" rows="10" placeholder="Your message"></textarea>
                        <input type="submit" value="Register" class="button-register-now">
                        <input type="Reset" value="Reset">
                    </div>
                </form>
            </div>
        </div>
    </section>
    </div>
</main>
<footer>
 
</footer>
 
</body>
</html>
