<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href='/SourceCode/css/style.css'>
            <title>Commerce</title>
    </head>
    
<body>

<header>
    <div ng-app="myApp" ng-controller="customersCtrl"> 
        <div ng-include="'/SourceCode/view/layout/header.html'"></div>
      </div>
       
      <script>
      var app = angular.module('myApp', []);
      app.controller('customersCtrl', function($scope, $http) {
          $http.get("customers.php").then(function (response) {
              $scope.names = response.data.records;
          });
      });
      </script>
</header>
<main>
  
</main>

<footer>

</footer>
</body>
</html>