<!DOCTYPE html>
<html ng-app="">

<head ng-include="'/SourceCode/view/layout/head.html'">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <title>Stories</title>
</head>

<body>
    <header class="header" ng-include="'/SourceCode/view/layout/header.html'">

    </header>
    <main>
        <div class="app-container">
            <section>
                <div class="row">
                    <div class="col-4">
                        <div class="teacher-card">
                            <div class="teacher-img">
                                <img class="w-100"
                                    src="/SourceCode/image/geg.jpg"
                                    alt="">
                            </div>
                            <div class="teacher-text text-center">
                                <h4>Completion of the course 2021</h4>
                                <p>Congratulations to the graduating students</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="teacher-card">
                            <div class="teacher-img">
                                <img class="w-100"
                                    src="/SourceCode/image/2.jpg"
                                    alt="">
                            </div>
                            <div class="teacher-text text-center">
                                <h4>Academic year 2022-2023</h4>
                                <p>Wellcome to Excellent Coaching</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="teacher-card">
                            <div class="teacher-img">
                                <img class="w-100"
                                    src="/SourceCode/image/5.jpg"
                                    alt="">
                            </div>
                            <div class="teacher-text text-center">
                                <h4>Representative of the University participating in the olympic competition</h4>
                                <p>Excellent Coaching is present at the olympics</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>

    <footer class="footer" ng-include="'/SourceCode/view/layout/footer.html'">

    </footer>
</body>



</html>
