<!DOCTYPE html>
<html ng-app="">

<head ng-include="'/view/layout/head.html'">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <title>Courses</title>
</head>

<body>
    <header class="header" ng-include="'/view/layout/header.html'">

    </header>
    <main>
        <div class="app-container">
            <section>
                <div class="row">
                    <div class="col-4">
                        <div class="teacher-card">
                            <div class="teacher-img">
                                <img class="w-100"
                                    src="https://www.thebalancecareers.com/thmb/mA1EU2tgVbzc6vkoreIvq_uIlok=/1885x1414/smart/filters:no_upscale()/teacher-pointing-while-teaching-in-classroom-962347986-75ce5f976522477686ca12d3e7972054.jpg"
                                    alt="">
                            </div>
                            <div class="teacher-text text-center">
                                <h4>Adam Levin</h4>
                                <p>Infomation Technologies, Inc</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="teacher-card">
                            <div class="teacher-img">
                                <img class="w-100"
                                    src="https://www.thebalancecareers.com/thmb/mA1EU2tgVbzc6vkoreIvq_uIlok=/1885x1414/smart/filters:no_upscale()/teacher-pointing-while-teaching-in-classroom-962347986-75ce5f976522477686ca12d3e7972054.jpg"
                                    alt="">
                            </div>
                            <div class="teacher-text text-center">
                                <h4>Adam Levin</h4>
                                <p>Infomation Technologies, Inc</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="teacher-card">
                            <div class="teacher-img">
                                <img class="w-100"
                                    src="https://www.thebalancecareers.com/thmb/mA1EU2tgVbzc6vkoreIvq_uIlok=/1885x1414/smart/filters:no_upscale()/teacher-pointing-while-teaching-in-classroom-962347986-75ce5f976522477686ca12d3e7972054.jpg"
                                    alt="">
                            </div>
                            <div class="teacher-text text-center">
                                <h4>Adam Levin</h4>
                                <p>Infomation Technologies, Inc</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="teacher-card">
                            <div class="teacher-img">
                                <img class="w-100"
                                    src="https://www.thebalancecareers.com/thmb/mA1EU2tgVbzc6vkoreIvq_uIlok=/1885x1414/smart/filters:no_upscale()/teacher-pointing-while-teaching-in-classroom-962347986-75ce5f976522477686ca12d3e7972054.jpg"
                                    alt="">
                            </div>
                            <div class="teacher-text text-center">
                                <h4>Adam Levin</h4>
                                <p>Infomation Technologies, Inc</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="teacher-card">
                            <div class="teacher-img">
                                <img class="w-100"
                                    src="https://www.thebalancecareers.com/thmb/mA1EU2tgVbzc6vkoreIvq_uIlok=/1885x1414/smart/filters:no_upscale()/teacher-pointing-while-teaching-in-classroom-962347986-75ce5f976522477686ca12d3e7972054.jpg"
                                    alt="">
                            </div>
                            <div class="teacher-text text-center">
                                <h4>Adam Levin</h4>
                                <p>Infomation Technologies, Inc</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="teacher-card">
                            <div class="teacher-img">
                                <img class="w-100"
                                    src="https://www.thebalancecareers.com/thmb/mA1EU2tgVbzc6vkoreIvq_uIlok=/1885x1414/smart/filters:no_upscale()/teacher-pointing-while-teaching-in-classroom-962347986-75ce5f976522477686ca12d3e7972054.jpg"
                                    alt="">
                            </div>
                            <div class="teacher-text text-center">
                                <h4>Adam Levin</h4>
                                <p>Infomation Technologies, Inc</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </section>
        </div>
    </main>

    <footer class="footer" ng-include="'/view/layout/footer.html'">

    </footer>
</body>



</html>