<!DOCTYPE html>
<html ng-app="">

<head ng-include="'/view/layout/head.html'">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <title>Courses</title>
</head>

<body>
    <header class="header" ng-include="'/view/layout/header.html'">

    </header>
    <main>
        <div class="app-container">
            <section>
                <H3 class="text-center contact-form-title"></H3>
                <div class="row">
                    <div class="col-4">
                        <div class="teacher-card">
                            <div class="teacher-img">
                                <img class="w-100"
                                    src="/image/1.jpg"
                                    alt="">
                            </div>
                            <div class="teacher-text text-center">
                                <h4>Teacher A</h4>
                                <p>Commerce</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="teacher-card">
                            <div class="teacher-img">
                                <img class="w-100"
                                    src="/image/3.jpg"
                                    alt="">
                            </div>
                            <div class="teacher-text text-center">
                                <h4>Teacher B</h4>
                                <p>Mathematic</p>
                            </div>
                        </div>
                    </div>
                
                    <div class="col-4">
                        <div class="teacher-card">
                            <div class="teacher-img">
                                <img class="w-100"
                                    src="/image/2.jpg"
                                    alt="">
                            </div>
                            <div class="teacher-text text-center">
                                <h4>Teacher C</h4>
                                <p>languages</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>

    <footer class="footer" ng-include="'/view/layout/footer.html'">

    </footer>
</body>



</html>