<section>
    <div class="app-container">
        <div class="row">
            <div class="col-3">
                <h4><b>Introduce</b></h4>
                <p>Excellent Coaching has more than 22 years of experience training students, and is always the first choice of candidates and employers.
                </p>
            </div>
            <div class="col-3">
                <h4><b>Course</b></h4>
                <ul>
                    <li>
                        <span>Commerce</span>
                    </li>
                    <li>
                        <span>Mathematic</span>
                    </li>
                    <li>
                        <span>Laguages</span>
                    </li>
                </ul>
            </div>
            <div class="col-3">
                <h4><b>Fanpage</b>
                </h4>
            </div>
            <div class="col-3">
                <h4><b>Contact</b>
                </h4>
                <ul>
                    <li><i class="fa fa-phone"></i><a href="tel:012931283821">012931283821</a> </li>
                    <li><i class="fa fa-phone"></i><a href="tel:012931283821">012931283821</a> </li>
                    <li><i class="fa fa-envelope"></i><a href="mailto:aptech@gmail.com">aptech@gmail.com</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>