<section>
    <div class="app-container">
        <div class="row">
            <div class="col-3">
                <h4><b>Giới thiệu</b></h4>
                <p>FPT Aptech có hơn 22 năm kinh nghiệm đào tạo lập trình viên quốc tế tại Việt Nam, và luôn là sự lựa
                    chọn hàng đầu của các sinh viên và nhà tuyển dụng.
                </p>
            </div>
            <div class="col-3">
                <h4><b>Khóa học</b></h4>
                <ul>
                    <li>
                        <span>Woocomerce</span>
                    </li>
                    <li>
                        <span>Woocomerce</span>
                    </li>
                    <li>
                        <span>Woocomerce</span>
                    </li>
                    <li>
                        <span>Woocomerce</span>
                    </li>
                </ul>
            </div>
            <div class="col-3">
                <h4><b>Fanpage</b>
                </h4>
            </div>
            <div class="col-3">
                <h4><b>Liên hệ</b>
                </h4>
                <ul>
                    <li><i class="fa fa-phone	
                        "></i><a href="tel:012931283821">012931283821</a> </li>
                    <li><i class="fa fa-phone	
                        "></i><a href="tel:012931283821">012931283821</a> </li>
                    <li><i class="fa fa-envelope	
                        "></i><a href="mailto:aptech@gmail.com">aptech@gmail.com</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>