<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href='/SourceCode/css/style.css'>
        <title>Document</title>
        
</head>
<body >
    
    <ul class="header">
        <a id="logo" href="#" title="ABC" >
            <img width="108" height="76" src="/image/Logo.png" alt="ABC"></a>
        <li><a href="/SourceCode/view/Homepage.html">Home</a></li>
        <li class="dropdown">
            <a href="/SourceCode/view/Courses.html" class="dropbtn">Courses</a>
            <div class="dropdown-content">
              <a href="/SourceCode/view/Commerce.html">Commerce</a>
              <a href="/SourceCode/view/Mathematic.html">Mathematic</a>
              <a href="/SourceCode/view/Languages.html">Languages</a>
            </div>
        </li>
        <li class="dropdown">
          <a href="/SourceCode/view/Faculty.html" class="dropbtn">Faculty</a>
          <div class="dropdown-content">
            <a href="#">Teacher infomation</a>
            <a href="#">Successful story</a>
            <a href="#">Achievements</a>
          </div>
        </li>
        <li><a href="#">Contact</a></li>
        <button id="Register" class="snip1547"><a href="#"><span>Register</span></a></button>
    </ul>
    
</body>
</body>
</html>