<div class="app-container">
  <div class="app-nav">
    <div class="nav-left">
      <a id="logo" href="/SourceCode/view/Homepage.html" title="ExcellentCoaching">
        <img width="108" height="76" src="/SourceCode/image/Logo.png" alt="ExcellentCoaching"></a>
      <ul>

        <li><a href="/SourceCode/view/homepage.html">Home</a></li>
        <li class="dropdown">
          <a href="/SourceCode/view/courses.html" class="dropbtn">Courses</a>
          <div class="dropdown-content">
            <a href="/SourceCode/view/commerce.html">Commerce</a>
            <a href="/SourceCode/view/mathematic.html">Mathematic</a>
            <a href="/SourceCode/view/languages.html">Languages</a>
          </div>
        </li>
        <li class="dropdown">
          <a href="/SourceCode/view/faculty.html" class="dropbtn">Faculty</a>
          <div class="dropdown-content">
            <a href="/SourceCode/view/teachers.html">Teacher infomation</a>
            <a href="/SourceCode/view/stories.html">Successful stories</a>
          </div>
        </li>
        <li><a href="/SourceCode/view/Contact.html">Contact</a></li>

      </ul>
    </div>
    <div class="nav-right">
      <ul>
        <li><a href="/SourceCode/view/register.html" class="button-register"><span>Register</span><i
              class="fa fa-user-plus"></i></a></li>
      </ul>
    </div>
  </div>
</div>
