<div class="app-container">
  <div class="app-nav">
    <div class="nav-left">
      <a id="logo" href="/ExcellentCoaching_Group03/SourceCode/view/Homepage.html" title="ExcellentCoaching">
        <img width="108" height="76" src="/ExcellentCoaching_Group03/SourceCode/image/Logo.png" alt="ExcellentCoaching"></a>
      <ul>

        <li><a href="/ExcellentCoaching_Group03/SourceCode/view/Homepage.html">Home</a></li>
        <li class="dropdown">
          <a href="/ExcellentCoaching_Group03/SourceCode/view/Courses.html" class="dropbtn">Courses</a>
          <div class="dropdown-content">
            <a href="/ExcellentCoaching_Group03/SourceCode/view/Commerce.html">Commerce</a>
            <a href="/ExcellentCoaching_Group03/SourceCode/view/Mathematic.html">Mathematic</a>
            <a href="/ExcellentCoaching_Group03/SourceCode/view/Languages.html">Languages</a>
          </div>
        </li>
        <li class="dropdown">
          <a href="/ExcellentCoaching_Group03/SourceCode/view/Faculty.html" class="dropbtn">Faculty</a>
          <div class="dropdown-content">
            <a href="/ExcellentCoaching_Group03/SourceCode/view/Teachers.html">Teacher infomation</a>
            <a href="/ExcellentCoaching_Group03/SourceCode/view/stories.html">Successful stories</a>
          </div>
        </li>
        <li><a href="/ExcellentCoaching_Group03/SourceCode/view/Contact.html">Contact</a></li>

      </ul>
    </div>
    <div class="nav-right">
      <ul>
        <li><a href="/ExcellentCoaching_Group03/SourceCode/view/Register.html" class="button-register"><span>Register</span><i
              class="fa fa-user-plus"></i></a></li>
      </ul>
    </div>
  </div>
</div>
