<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="stylesheet" href="/SourceCode/css/adminstyle.css">
    <script src="/SourceCode/controller/admincontroller.js"></script>
</head>
<body>
    <form method="post" onsubmit="return validateData()">
        <div align="center" class="contain">
            <div class=container>
                <div class="header">
                    <h3>LOGIN ADMIN</h3>
                </div>
                <div class=body>
                    <div class="main">
                        <div class=word>
                            <label>UserName</label>
                            <input id="Input-info" required type="text">
                        </div>
                        <div class=word>
                            <label>Password</label>
                            <input id="Input-info" required type="password" class="input1">
                        </div>    
                        <div class=nut>
                            <button type="submit" id="chk" >LOGIN</button>
                            <button type="reset">RESET</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="all" id="modal">
        <div class="modal" >
            <div class="content">
                <p>Logged in successfully</p>
                <div class="footer">
                    <button class="button" id="done" onclick="hidePopup()">OK</button>
                </div>
            </div>
        </div>
    </div>
            
</body>
</html>