<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta UserName="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="./controller/adminController.js"></script>
    <link rel="stylesheet" href="./css/adminstyle.css"></style>
    <title>Admin</title>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
    <header>
<div align="right">
<input ng-model="txtSearch" placeholder="Enter your search">
</div>
    </header>
<section>
<form UserName="myForm" id="myForm">
<table align="center">
    <tr>
        <th>Admin UserName: </th>
        <td><input type="text" ng-model="AdminModel.UserName" required></td>
        <td>
            <input type="button" value="Save" ng-click="Add()">
            <button ng-click="Delete()">Deleted</button> 
        </td>
    </tr>
    <tr>
        <th>Email: </th>
        <td><input type="text" ng-model="AdminModel.Email" required></td>
    </tr>
    <tr>
        <th>Phone: </th>
        <td><input type="text" ng-model="AdminModel.Phone" required></td>
    </tr>
</table>
</form>
<table class="table table-hover">
    <tr>
        <th ng-click="doSapxep('UserName')">UserName</th>
        <th ng-click="doSapxep('Email')"> Email</th>
        <th ng-click="doSapxep('Phone')"> Phone</th>
    </tr>
    <tr ng-repeat="i in AdminList | filter:txtSearch | orderBy:sapxep.cot:sapxep.descending" ng-click="Getrecord(i)">
        <td>{{i.UserName}}</td>
        <td>{{i.Email}}</td>
        <td>{{i.Phone}}</td>
        <td>
            <a href="#" ng-click="Delete(Admin)">Delete</a>
        </td>
    </tr>
</table>
</section>
</body>
</html>